<h3>{{view Title}}</h3>

<form>
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" name="fullName" class="form-control" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Contact </label>
            <input type="text" name="contact" class="form-control" placeholder="Contact">
        </div>
        <div class="form-group col-md-6">
            <label>School </label>
            <input type="text" name="school" class="form-control" placeholder="School">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
</form>